
.service {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Righteous', cursive;
  max-width: min-content;
  margin: auto;
}

.row-title {
  font-size: 2.5rem;
  color: rgb(251 252 204 / 90%);
  
}

.image-and-caption-container {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-and-caption-container > img {
  position: relative;
  z-index: -1;
  border-radius: 2% 2% 0% 0%;
}

.description {
  color: rgb(251 252 204 / 100%);
  overflow: hidden;
  align-self: start;
  text-align: end;
  width: 27%;
  max-width: 80%;
  text-indent: 0rem;
  font-size: 1.7rem;
  position: absolute;
  top: 12%;
  left: 1%;
  text-shadow: 1px -1px 2px #8fe6d5;
}

.description-right {
  border: 1px outset rgba(0, 0, 0, 0.461);
  overflow: hidden;
  align-self: start;
  text-align: start;
  width: 27%;
  max-width: 80%;
  text-indent: 0rem;
  font-size: 1.7rem;
  position: absolute;
  color: #8fe6d5;
  top: 12%;
  right: 1%;
  text-shadow: 1px 0px 2px rgb(28, 61, 74);
}

.booking-list-button a {
  color: whitesmoke;
  font-family: Righteous;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px black;
}

.booking-list-button {
  width: 100%;
  background-color: black;
  height: 2.5rem;
  border-radius: 0% 0% 60% 60%;
}

.booking-list-button a:hover {
  color: black;
  transition: color 2s;
}

.booking-list-button:hover {
  background-color: white;
  transition: background-color 2s;
}

@media screen and (max-width: 1200px) {
  .description {
    background: #08080798;
    text-align: center;
    width: 50%;
    max-width: 50%;
    font-size: 1.4rem;
    top: 15%;
    left: 24%;
   
  }

  .description-right {
    background: #08080798;
    text-align: center;
    width: 50%;
    max-width: 50%;
    font-size: 1.4rem;
    top: 50%;
    left: 24%;
   
  }
}

@media screen and (max-width: 844px) {
  .description {
    background: #08080798;
    align-self: start;
    text-align: center;
    width: 80%;
    max-width: 80%;
    text-indent: 0rem;
    font-size: rem;
    position: absolute;
    top: 13%;
    left: 10%;
  }

  .description-right {
    background: #08080798;
    align-self: start;
    text-align: center;
    width: 80%;
    max-width: 80%;
    text-indent: 0rem;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 10%;
    /* text-shadow: 0px -1px 0.5px 1px -1px 2px #8fe6d5; */
  }
}



@media screen and (max-width: 450px) {
  .description {
    display: inherit;
  }

  .description-right {
    display: none;
  }
}

@media screen and (max-width: 844px) and (min-height: 1024px) {
  .description-right {
    top: 40%;
  }
}