.logo-image {
    position: fixed;
    bottom: 20px;
    border: .15rem outset rgba(5, 2, 2, 0.9);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-position: center;
    background-image: url(../../Images/logo.png);
    margin: 1rem;
  }
  
  .logo-image:hover {
    box-shadow: 1px 1px 2px black, 0 0 0.7em black, 0 0 0.2em ;
    border: 0.7rem initial rgba(5, 2, 2, 0.9);
  }

  .click-below {
    position: fixed;
    bottom: 54px;
    left: 18px;
    width: 80px;
    height: 60px;
    text-align: center;
    text-shadow: -3px 3px 2px #000000;
    z-index: 1;
    color: #8fe6d5;
    font-size: 1.5rem;
  }