.logo-image {
    position: fixed;
    bottom: 20px;
    border: .15rem outset rgba(5, 2, 2, 0.9);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-position: center;
    background-image: url(../../Images/logo.png);
    margin: 1rem;
  }
  
  .logo-image:hover {
    box-shadow: 1px 1px 2px black, 0 0 0.7em black, 0 0 0.2em ;
    border: 0.7rem initial rgba(5, 2, 2, 0.9);
  }