.header {
  position: relative;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.body {
  position: absolute;
  height: auto;
  width: 80%;
  margin-left: 10%;
  padding: 1rem;
}

p {
  text-indent: 2rem;
}

@media screen and (max-width: 668px) {
  .body {
    position: absolute;
    height: auto;
    width: auto;
    margin-left: 0;
    padding: 1rem;
  }
}