@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.body-about {
  position: absolute;
  height: auto;
  width: 80%;
  margin-left: 10%;
  padding: 1rem;
  font-family: 'Righteous', cursive;
}

p {
  text-indent: 2rem;
}

@media screen and (max-width: 668px) {
  .body {
    position: absolute;
    height: auto;
    width: auto;
    margin-left: 0;
    padding: 1rem;
  }
}