/*HOMEPAGE*/

/*-------Scroll Bar-----------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(251, 252, 204, 0.7); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(251, 252, 204, 0.9); 
  }




/*-------Elements-----------------------------------------------------------*/


a {
  color: rgba(251, 252, 204, 0.863);
}

h1 {
  margin: 0;
}

/*---------Classes (in order of layout; top to bottom )-----------------------------------------------------*/

.root {
  color: rgba(251, 252, 204, 0.863);
}

.section-header-padding-message {
  position: absolute;
  padding-top: 3rem;
  top: 10%;
  left: 10%;
  text-align: center;
  width: 80%;
}

.section-header-padding-message > h1 {
  font-size: 10rem;
}

.div-navbar {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 1000;
}

.section-body {
    padding-top: 23%;
    position: relative;
    margin: 0;
}

/************** START OF BANNER ********************/
.banner {
  height: 80vh;
  width: 100%;
  background-image: url(/src/Images/arms_back.jpeg);
  background-position: top 30% right 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-shadow: 4px -20px 20px rgba(245, 245, 245, 0.8);
  background-color: rgb(214, 206, 231);
  /* -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-in-out infinite alternate both; */
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    box-shadow: 4px -20px 10px rgba(245, 245, 245, 0.7);
  }

  25% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    box-shadow: 4px -20px 50px rgba(245, 245, 245, 0.3)
  }

  60% {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
  }

  100% {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    box-shadow: 4px -20px 10px rgba(245, 245, 245, 0.7);
  }

  25% {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    box-shadow: 4px -20px 50px rgba(245, 245, 245, 0.3);
  }

  60% {
    -webkit-transform: scaleX(0.9);
    -ms-transform: scaleX(0.9);
    transform: scaleX(0.9);
  }

  100% {
    -webkit-transform: scaleX(0.9);
    -ms-transform: scaleX(0.9);
    transform: scaleX(0.9);
  }
}


.banner:hover {
  animation-play-state: paused;
}

/**********************************END OF BANNER****************************************/

.div-body {
  height: 400px;
  width: auto;
  background-color: rgba(236, 236, 230, 0.5);
  margin-bottom: 10%;
}

.back-top {
  height: 20%;
  width: 100%;
  background-color: rgba(10, 6, 6, 0.849);
  box-shadow: 0rem -1rem black, inset 0rem -1rem 1rem 0.5rem black;
  border-collapse: collapse;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 10%;
}

.back-bottom {
  /* background-color: rgba(251, 252, 204, 0.7); */
  height: 80%;
  width: 100%;
  border-bottom: 1rem outset rgba(0, 0, 0, 1);
}

.front {
  height: 30%;
  width: 80%;
  position: absolute;
  top: 53%;
  left: 10%;
  background-color: black;
  align-self: center;
  border-radius: 20%;
}

.front-left {
  background-color: black;
}

.front-right {
  background-color: black;
}



/********************* CROSS-SCREEN SCROLL ************/
.text-scroll {
  font-size: 4rem;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: stretch;
  -webkit-animation: 5s linear 1s infinite running slidein;
  animation: 10s linear 1s infinite running slidein;
}

@-webkit-keyframes slidein { from { margin-left: -100%; } to { margin-right: -100%; }  }
        @keyframes slidein { from { margin-left: -100%; } to { margin-right: -100%; }  }



/********************** FOOTER *******************/

.footer {
  position: relative;
  height: 400px;
  width: 100%;
  text-align: end;
  background-color: black;
  border-top: 1rem inset rgba(0, 0, 0, 1);
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  box-shadow: 0px 7px inset rgba(0, 0, 0, 1);
}

.footer > h1 {
  font-size: 10rem;
  text-align: center;
}


/*-------IN PROGRESS and media queries-----------------------------------------------------------*/


@media only screen and (max-width: 768px) {
  .section-header-padding-message {
    position: relative;
    margin-top: 3rem;
    top: 5rem;
    left: 0rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .section-header-padding-message > h1 {
    font-size: 6rem;
  }
  
  .banner {
    height: 80vh;
    width: 100%;
    background-image: url(/src/Images/arms_back.jpeg);
    background-position: top 30% right 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    box-shadow: 4px -20px 20px rgba(245, 245, 245, 0.8);
    background-color: rgb(214, 206, 231);
    /* -webkit-animation: breathing 5s ease-out infinite normal;
      animation: breathing 5s ease-in-out infinite alternate both; */
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer > h1 {
    font-size: 6rem;
    /* text-align: center; */
  }
}