.streaming {
  background-color: rgba(1, 6, 10, 0.9);
  border: 5px double black;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 500px;
    width: 100%;
  }
  
  .amazon {
    width: 50%;
    min-height: 500px;
  }
  
  .soundcloud {
    flex-grow: 1;
    max-width: 100%;
  }
  
  .youtube {
    height: 500px;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .amazon {
      width: 100%;
    }
  }