.services-table-container {
    width: auto;
    padding: 1rem;
}

.services-table-container caption {
    font-size: 2rem;
}


[scope="col"] {
    font-size: 1.5rem;
    
}

table {
    border-collapse: collapse;
}