.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  align-self: auto;
  width: 60%;
}

.links > li > a {
  color: rgba(0, 0, 0, 0.9);
}


li {
  padding: 1rem 0.5rem 1rem 0rem;
  font-size: 1.5rem;
  text-align: center;
}

li:hover {
    text-shadow: 1px 1px 2px white, 0 0 1em rgb(4, 54, 148),
    0 0 0.2em black;
    transform: scale(1.1);
}

@media screen and (max-width: 675px) {
  ul {
    width: 100%;
  }

  ul:hover {
    width: 90%;
  }

  ul.links {
    flex-flow: wrap;
  }

  ul.links > li {
    padding-top: 0rem;
    width: 100%;
  }

  li:hover {
    background-color: rgba(58, 49, 49, 0.4);
    font-size: 2rem;
    text-shadow: 1px 1px 2px white, 0 0 1em rgb(4, 54, 148),
    0 0 0.2em black;
    transform: scale(1.1);
  }
}

