.body-welcome {
    position: absolute;
    height: auto;
    margin-top: 5%;
    padding-top: 1rem;
    overflow-y: hidden;
    font-family: 'Source Code Pro', monospace;
}

@media only screen and (min-width: 881px) and (max-width: 1250px){
    .body-welcome {
        right: 11%;
    }
  }
