@media only screen and (min-width: 600px) and (max-width: 880px) {
  table {
    margin: auto;
  }

  tr.row {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    
    td p {
      width: 60%;
    }
  
    .image-and-caption-container {
      width: 100%;
    }
  }

  @media only screen and (min-width: 881px) and (max-width: 1250px){
    .headline {
      font-size: 4rem;
      right: 2%;
    }

  }