.headline {
  text-align: center;
  font-size: 3em;
}

tr {
  text-align: center;
}

tr.row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-items: end;
}

td {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
  display: none;
}

td p {
  margin: auto;
}

/* td p:hover {
  transform: scale(1.5);
  margin: 6rem;
} */

.booking-list-button {
  bottom: 0%;
  width: 50%;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  background-color: black;
}

.booking-list-button > a {
  color: grey;
  font-size: 1.5rem;
  font-family: 'Righteous', cursive;
}


.image-and-caption-container {
  border-radius: 10%;
}

.image-and-caption-container img {
  max-width: 50%;
  max-height: 40%;
  margin: 0.7rem;
}




