.body-stream {
  position: absolute;
  height: auto;
  width: 80%;
  margin-left: 10%;
  overflow-x: hidden;
  font-family: 'Righteous', cursive;
}

@media screen and (max-width: 668px) {
  .body-stream {
    position: absolute;
    height: auto;
    width: auto;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
  }
}
