.header {
  position: relative;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.body-contact {
  position: absolute;
  height: auto;
  overflow-x: hidden;
  font-family: 'Righteous', cursive;

}

.contact {
  display: flex;
  flex-flow: row wrap;
  /* background-color: azure; */
  font-size: 200%;
}

.contact > h1 {
  padding: 3rem;
  margin: auto;
  text-align: center;
}

.iframe-container {
  margin: auto;
}

.scroll-blocker {
  position: absolute;
  bottom: 0%;
  right: 1px;
  background-color: white;
  height: 85%;
  width: 25%;
}

p {
  text-indent: 2rem;
}

@media screen and (max-width: 668px) {
  .body {
    position: absolute;
    height: auto;
    width: auto;
    margin-left: 0;
    padding: 1rem;
  }

  .scroll-blocker {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: white;
    height: 85%;
    width: 10%;
  }
}

@media screen and (min-width: 669px) and (max-width: 1200px){
  .scroll-blocker {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: white;
    height: 85%;
    width: 11%;
  }
}