.contact {
  box-shadow: -1px 10px 10px #8fe6d5;
  border: solid 0.001rem #fbf4e9a2;
  border-radius: 6%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.121);
  padding: 1rem 0;
  font-size: 1rem;
  overflow: hidden;
}