.header {
  position: relative;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.body {
  position: absolute;
  height: auto;
  width: 80%;
  overflow-x: hidden;
}

.contact {
  display: flex;
  flex-flow: row wrap;
  background-color: azure;
  font-size: 200%;
}

.contact > h1 {
  padding: 3rem;
  margin: auto;
  text-align: center;
}

iframe.google {
  width: 100%;
}

p {
  text-indent: 2rem;
}

@media screen and (max-width: 668px) {
  .body {
    position: absolute;
    height: auto;
    width: auto;
    margin-left: 0;
    padding: 1rem;
  }
}